# terraform/inventory.tftpl
# Ansible Inventory for Vagrant VMs
[deploy_nodes]
%{ for idx, ip in ip_addrs ~}
node-${idx} ansible_host=${ip} ansible_user=vagrant ansible_ssh_private_key_file=~/ssh-keys/insecure_private_key ansible_ssh_common_args='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
%{ endfor ~}

[deploy_nodes:vars]
ansible_python_interpreter=/usr/bin/python3
