# files/grafana/datasources/datasources.yml.j2
apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://{{ hostvars[groups['prometheus_node'][0]]['ansible_default_ipv4']['address'] }}:9090
    isDefault: true
    editable: true
