apiVersion: apps/v1
kind: Deployment
metadata:
  name: selenium-hub
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: selenium-hub
  template:
    metadata:
      labels:
        app: selenium-hub
    spec:
      containers:
      - name: selenium-hub
        image: selenium/hub:4.16.1-20231219
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 4444
          name: http
        - containerPort: 4442
          name: publish
        - containerPort: 4443
          name: subscribe
        env:
        - name: SE_SESSION_REQUEST_TIMEOUT
          value: "300"
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: selenium-hub
  namespace: monitoring
spec:
  type: NodePort
  ports:
  - port: 4444
    targetPort: 4444
    nodePort: 30444
    protocol: TCP
    name: http
  selector:
    app: selenium-hub
